@import "../../mixin.scss";
.CardList {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4rem;
  @include respond(tab-port) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include respond(phone) {
    grid-template-columns: 1fr;
  }
}